@import '~antd/dist/antd.css';
body {
  background-color: #F2A4B9;
}
.header,
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
  height: 50px;
}
.header {
  justify-content: flex-start;
  padding: 0 32px;
  background-color: #69C0FF;
}
.footer {
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.headerTitle {
  color: #FFFFFF;
  font-size: 24px;
  font-style: italic;
  font-weight: 900;
}
.calculatorContainer {
  text-align: center;
}
.contentWrapper {
  background-color: #FFFFFF;
  width: 555px;
  padding: 24px;
  margin: 32px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sliderColumn {
  width: 100%;
  text-align: center;
  margin: 16px 0 0 0;
}
.sliderRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.sliderLabelRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.label {
  color: #3A3F49;
  font-size: 20px;
  font-weight: 700;
}
.labelIcon {
  color: #FFFFFF;
  font-size: 28px;
  padding: 0 0 0 6px;
}
.ant-slider {
  width: 100%;
}
.ant-input-number {
  width: 135px;
}
.statisticsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  margin: 16px 0;
}
.statistic {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:
}
.effectsContainer {
  width: 100%;
}
.expectation,
.segment {
  transition: opacity 1s;
  color: #3A3F49;
  font-weight: 400;
}
.expectationsContainer,
.segmentsContainer {
  text-align: start;
  height: 102px;
}
.segmentsContainer {
  margin: 16px 0 0 0;
}
.ant-statistic-title {
  color: #3A3F49;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}
.ant-input-number-input,
.ant-statistic-content-value,
.ant-statistic-content-suffix {
  color: #3A3F49;
}
.ant-slider {
  margin: 12px 6px 12px;
}
.ant-slider-rail,
.ant-slider-track,
.ant-slider-step {
  height: 6px;
}
.ant-slider-handle {
  width: 16px;
  height: 16px;
  cursor: grab;
}
.ant-slider-handle:active,
.ant-slider-handle:focus {
  cursor: grabbing;
}
.ant-input-number-input {
  font-size: 16px;
}
ul {
  margin: 0 0 0 -20px;
  font-size: 16px;
  font-weight: 400;
}
.githubLink {
  color: #FFFFFF;
  font-size: 12px;
}
.githubLink:hover {
  color: #FFFFFF;
  font-weight: 500;
}
@media (max-width: 574px) {
  .contentWrapper {
    width: 355px;
    margin: 16px auto 32px;
    padding: 16px;
  }
  .label {
    font-size: 16px;
  }
  .labelIcon {
    color: #FFFFFF;
    font-size: 24px;
    padding: 0 0 0 4px;
  }
  .footer {
    position: relative;
  }
  .expectationsContainer {
    height: 120px
  }
  .segmentsContainer {
    height: 144px;
  }
  .statisticsRow {
    margin: 0 0 16px 0;
  }
  .sliderLabelRow {
    height: 24px;
  }
  svg {
    width: 80px;
    height: 160px;
  }
  .ant-statistic-content-value-int {
    font-size: 20px
  }
  .ant-statistic-content-value-decimal,
  .ant-statistic-content-suffix
   {
    font-size: 12px
  }
}
