@import '~antd/dist/antd.css';
body {
  background-color: rgb(246, 246, 246);
}
.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(4, 70, 55);
  color: rgb(255, 255, 255);
}
.headerTitle {
  font-size: 20px;
  font-weight: 600;
}
.header {
  height: 60px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
}
.calculatorContainer {
  text-align: center;
}
.sliderWrapper {
  background-color: rgb(255, 255, 255);
  width: 555px;
  padding: 8px 24px 24px;
  margin: 32px auto;
  border-radius: 4px;
}
.resultsWrapper {
  background-color: rgb(255, 255, 255);
  width: 555px;
  padding: 24px 24px;
  margin: 32px auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sliderColumn {
  text-align: center;
  margin: 16px 0 0 0;
}
.sliderRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.label {
  color: rgba(3, 70, 56, 0.85);
  font-size: 20px;
  font-weight: 600;
}
.ant-slider {
  width: 100%;
}
.ant-input-number {
  width: 120px;
}
.statisticsRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistic {
  padding: 0 8px;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.effectsContainer {
  margin: 8px 0 0 0;
  width: 100%;
}
.expectation,
.segment {
  transition: opacity 1s;
  color: rgba(3, 70, 56, 0.85);
  font-weight: 400;
}
.expectationsContainer,
.segmentsContainer {
  transition: opacity 1s;
  margin: 16px 0 0 0;
  text-align: start;
}
.ant-statistic-title {
  color: rgba(3, 70, 56, 0.65);
}
.ant-statistic-content-value {
  color: rgba(3, 70, 56, 0.85);
}
@media (max-width: 574px) {
  .sliderWrapper {
    width: 355px;
    margin: 16px auto;
  }
  .resultsWrapper {
    width: 355px;
    margin: 16px auto;
  }
  .label {
    font-size: 16px;
  }
}
